<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="/">CRUD TEST</a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-user">Add User</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="p-4">
      <% if (status==='error') { %>
         <p class="text-danger"><%= data.message %>..!</p>
      <% } %>
      <% if (status==='success') { %>
          <h4>Users list</h4>
          <hr/>
          <div class="table-responsive ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Roll number</th>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id='table-body'>
              <% for( let index = 0; index < data.length; index++ ) { %>
                <tr>
                  <td><%= data[index].ROLLNO %></td>
                  <td><%= data[index].NAME %></td>
                  <td><%= data[index].ADDRESS %></td>
                  <td><%= data[index].Age %></td>
                  <td><%= data[index].PHONENO %></td>
                  <td>
                    <form action="/add-user/edit" method="post">
                       <input type="hidden" value="<%= data[index].ROLLNO %>"" name='rollNo'/>
                       <input type="hidden" value="<%= data[index].NAME %>" name='name'/>
                       <input type="hidden" value="<%= data[index].Age %>" name='age'/>
                       <input type="hidden" value="<%= data[index].ADDRESS %>" name='address'/>
                       <input type="hidden" value="<%= data[index].PHONENO %>" name='phone'/>
                       <input type="submit" class="btn btn-warning" value='Edit'/>
                    </form>
                  </td>
                  <td>
                    <form action="/<%=data[index].ROLLNO  %> " method="POST">
                      <input type="submit" class="btn btn-danger" value='Delete'/>
                    </form>
                  </td>
                </tr>
                      
              <% } %>

            </tbody>
          </table>
        </div>



      <% } %>
    </div>
    
  </body>
 
</html>
